body {
	margin: 0px;
	padding: 0px;
	font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
	font-size: 15px;
	line-height: 1.5em; 
	background-image:url("images/bg.jpg");
}

a, a:link, a:visited { 
	color: #298bff; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

p { 
	color:	 Grey;
	margin: 0px; 
	padding: 0; 
}

img { 
	border: none; 
}

h1, h4, h5, h6 { 
	color: white; 
}


h1 { 
	font-size: 40px; 
	font-weight: normal; 
	margin: 0 0 10px 0; 
	padding: 5px 0; 
}

h2 { 
	font-size: 28px; 
	font-weight: normal; 
	margin: 0 0 4px 0; 
	padding: 0;
	color: #ffcc00;
}

h3 { 
	font-size: 21px; 
	margin: 0 0 3px 0; 
	padding: 0; 
	padding: 0; 
	font-weight: normal; 
	color: #ffffff; 
}

h4 { 
	font-size: 18px; 
	margin: 0 0 2px 0; 
	padding: 0; 
}

h5 { 
	font-size: 16px; 
	margin: 0 0 0px 0; 
	padding: 0; 

}

h6 { 
	font-size: 14px; 
	margin: 0 0 5px 0; 
	padding: 0; 

}

.cleaner { 
	clear: both; 
	width: 100%; 
	height: 0px; 
	font-size: 0px;  
}


#wrapper_outer {
	width: 100%;
	margin: 0 auto;

}

#wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;

}



#header {
	width: 940px;
	height: 150px;
	padding: 0 10px;
}


#menu {
	clear: both;
	width: 940px;
	height: 51px;
	padding: 0 10px;
	background: url(images/tempatemo_menu.png) no-repeat;
}

#menu ul {
	margin: 0;
	padding: 14px 12px 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#menu ul li a {
	float: left;
	display: block;
	font-size: 20px;
	width: 130px;
	height: 25px;
	padding: 0px 0 0 0;
	color: #afdeff;	
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	outline: none;
}

#menu ul li a:hover, #menu ul .current {
	color: #fff;
	background: url(images/templatemo_menu_hover.png) no-repeat center left;
}

#slider_wrapper {
	clear: both;
	width: 940px;
	padding: 30px 10px 0;
}

#slider {
	width: 940px;
	height: 220px;
	padding: 40px 0;
	background-color:rgba(1,40, 55,0.95);
}

#content_wrapper {
	clear: both;
	width: 940px;
	padding: 40px 0px;
	background-color:rgba(1,40, 55,0.95);
	height: 300;
}


#content {
	padding: 0 50px;
	width: 840px;
	font-style: Geneva;
	height: 300;
	color: grey;
}

#content p {
	margin-bottom: 10px;
	

}


#footer {
	width: 940px;
	padding: 10px;
	text-align: center;
	color: #755e96;
	
}

#footer a {
	color:white;
}


.container {
    position: relative;

	
}
.textbox {
	padding-left:350px;
	color: grey;
	padding-right: 25px;
}


.image {
	position: absolute;
	opacity: 1;
	display: block;
	max-width:100%;
	max-height: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
 
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 130px;
  left: 17%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: yellow;
  color: gray;
  font-size: 16px;
  padding: 16px 32px;
}
.text1 {
  background-color: #4dd2ff;
  color: gray;
  font-size: 16px;
  padding: 16px 32px;
}
.text2 {
  background-color: #cc0000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.text3 {
  background-color: #008000;
  color: white;
  font-size: 16px;
  text-align:center;
  padding: 0px 10px;
}

table, th, td {
    border: 1px solid black;
}
th
{
	color:#00e6e6;
}
